!.gitignore

src/.*
src/igmpproxy
autom4te.cache/
compile
config.h.in~
src/*.o
Makefile
config.h
config.log
config.status
doc/Makefile
doc/igmpproxy.8
doc/igmpproxy.conf.5
src/Makefile
src/os.h
stamp-h1
